.about-and-posts {
    display: flex; 
    flex-direction: row;
    width: 100%; 
    gap: 50px; 
}

.about-preview p {
    line-height: 1.4; 
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 70px;
    padding-left: 200px;  
}


.about-preview {
    background-color: #F2F2F2;

    .primary-title {
        padding-bottom: 0; 
    }
    .primary-text {
        padding-top: 0; 
    }
}


.about-preview, .lates-posts-preview {
    width: 50%; 
}

.lates-posts-preview {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
