.about-preview2 {
    display: flex; 
    flex-direction: row;
    width: 100%; 
    gap: 10px; 
    padding: 20px 0 50px 0; 

    .readmore-btn-container {
        margin-top: 3vh; 
        margin-bottom: 0; 
        display: flex; 
        justify-content: right; 
    }
}
.about-preview-information {
    display: flex; 
    flex-direction: column;
    max-width: 50%; 
    border: 4px solid #F2F2F2;
    border-radius: var(--border-radius);
    padding: 30px; 

    .primary-title { 
        margin-bottom: 0;
        margin-top: 0; 
    }


}
.about-preview-image {
    max-width: 50%; 
    display: flex; 
    justify-content: center;
    align-items: center;
}
.about-image {
    width: 80%; 
    border-radius: var(--border-radius);
}