.courses-preview {
    padding-top: 30px; 
    margin-bottom: 100px;
}
.courses-preview .primary-title {
    text-align: center;
    margin-top: 10vh; 
    margin-bottom: 5vh; 
}

.courses-preview-cards, .courses-preview-card {
    display: flex;
}
.courses-preview-cards {
    gap: 30px; 
    flex-direction: column;
}

.courses-preview-card {
    flex-direction: row;
    gap: 20px; 
    border: 2px solid var(--secondary-color); 
    border-radius: var(--border-radius);
    padding: 10px; 
}
.courses-preview-card &:hover {
    background-color: var(--secondary-color);
}

/* DIT MOET NOG GEOPTIMALISEERD WORDEN */

.courses-preview-card img {
    width: 80px;   /* breedte van de afbeelding */
    height: 80px;  /* hoogte van de afbeelding */
    object-fit: cover; /* afbeelding netjes vullen */
    border-radius: 4px; /* optioneel, afgeronde hoeken */
}
.courses-preview-card .info {
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

/* MOBILE */
@media (min-width: 768px) {
    .courses-preview-cards {
        flex-direction: row;
    }
    .courses-preview {
        padding: 50px; 
        padding-bottom: 150px; 
    }
    .courses-preview  .primary-title {
        margin-top: 0;
    }
    .courses-preview-cards {
        gap: 60px; 
    }
}

