.courses-preview {
    padding: 50px; 
    padding-bottom: 100px; 

    .primary-title {
        text-align: center;
        padding: 40px; 
    }
}

.courses-preview-cards, .courses-preview-card {
    display: flex;
    flex-direction: row;
}
.courses-preview-cards {
    gap: 60px; 
}

.courses-preview-card {
    gap: 20px; 
    border: 2px solid var(--secondary-color); 
    border-radius: var(--border-radius);
    padding: 10px; 

    &:hover {
        background-color: var(--secondary-color);
    }
}

/* DIT MOET NOG GEOPTIMALISEERD WORDEN */

.courses-preview-card img {
    width: 80px;   /* breedte van de afbeelding */
    height: 80px;  /* hoogte van de afbeelding */
    object-fit: cover; /* afbeelding netjes vullen */
    border-radius: 4px; /* optioneel, afgeronde hoeken */
}
.courses-preview-card .info {
    display: flex; 
    flex-direction: column;
    justify-content: center;
}
