@import url('../templates/index.css');

.hero-section {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 70px 0 70px 0; 
    width: 100%; 
}

.hero-image {
    filter: brightness(70%); 
    width: 100%;       /* afbeelding vult de breedte van de container */
    height: auto;      /* hoogte wordt automatisch aangepast */
    display: block;    /* voorkomt extra ruimte onder de afbeelding */
}

.hero-section .primary-title {
    position: absolute; 
    color: white; 
    text-shadow: 0 2px 10px rgba(0,0,0,0.6);
    backdrop-filter: blur(2px);
    padding: 15px; 
    border-radius: var(--border-radius);
}
