@import url('../templates/index.css');

.hero-section {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px; 
}

.hero-image {
    border-radius: var(--border-radius);
}

.hero-section .primary-title {
    position: absolute; 
    color: white; 
    text-shadow: 0 2px 10px rgba(0,0,0,0.6);
    backdrop-filter: blur(2px);
    padding: 15px; 
    border-radius: var(--border-radius);
}