.portfolios-preview {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px; 

    .primary-title {
        margin-bottom: 0; 
    }
    .main-text {
        margin-bottom: 70px; 
    }
}

.portfolio-cards {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    padding-top: 0; 
    padding-bottom: 70px; 
    align-items: center;
    justify-content: center;
    gap: 20px; 
}

.portfolio-card {
    display: flex; 
    align-items: center;
    flex-direction: row;
    flex: 0 1 45%;
    gap: 20px; 
    border: 3px solid var(--secondary-color); 
    border-radius: var(--border-radius); 
    padding: 10px; 

    img {
        width: 20%; 
        height: 80%; 
        border-radius: var(--border-radius);
    }
    &:hover {
        background-color: var(--secondary-color);
    }
}