.profiles-preview {
    display: flex; 
    flex-direction: row;
    width: 100%;
    gap: 20px; 
    background-color: #F2F2F2;
}

.profile-links, .profiles-overview {
    width: 50%; 
}

.profile-card {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    p {
        margin: 0; 
        padding: 0; 
    }
}

/* Links: de cards */
.profile-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap;
    padding: 70px; 

    .profile-card {
        flex: 1 1 45%; 
    }
    
    
    a {
        color: var(--primary-color); 
        text-decoration: none;

        &:hover {
            color: red ;
            text-decoration: underline;
        }
    }
}


.profiles-overview {
    text-align: right;
    padding: 10vh; 
}

.icon-circle {
    background-color: white; 
    border-radius: 50%;
    padding: 2vh; 
    width: 50px; 
    height: 50px; 

    img {
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
    }
    &:hover {
    background-color: #d6d8e3; 
    }
}

.profile-card .title {

    &:hover {
        text-decoration: underline;
    }
}
