.background {
    background-color: var(--secondary-color);
    margin-top: 5vh; 
}

.profiles-preview {
    display: flex; 
    flex-direction: row;
    width: 100%;
    gap: 20px; 
}

.profile-card {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

}

/* Links: de cards */
.profile-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap;
    padding: 8vh 1vw;

    .profile-card {
        flex: 1 1 45%; 
    }
    
    
    a {
        color: var(--primary-color); 
        text-decoration: none;

        &:hover {
            font-weight: 700; 
        }
    }

    a:hover, .title:hover {
        text-decoration: underline;
    }

    .title {
        margin-bottom: 0;
    }
}


.profiles-overview {
    text-align: right;
    padding: 7vh; 
}

.icon-circle {
    background-color: white; 
    border-radius: 50%;
    padding: 2vh; 
    width: 5vw; 
    height: 5vw; 
    max-width: 50px;
    max-height: 50px;
    

    img {
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
    }
    &:hover {
    background-color: #d6d8e3; 
    }
}

/* MOBILE */
@media (max-width: 768px) {
    .profiles-preview {
        flex-direction: column;
    }

}
/* DESKTOP */
@media (min-width: 768px) {
    .profile-cards, .profiles-overview {
        width: 50%; 
    }
    .profiles-preview {
        gap: 20px; 
    }
}