.banner {
    display: flex; 
    gap: 30px; 
    background-color: #1D1D1D;
    color: white; 
    padding: 30px; 

    img {
        width: 12%; 
    }
}

.enroll .banner {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.courses .banner {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 0; 

    .titles {
        display: flex; 
        flex-direction: row;
        gap: 20px; 
    }
    .primary-title, .titles p {
        padding-top: 0; 
        margin-top: 0; 
    }
}


.banner-info {
    display: flex; 
    flex-direction: column;

    .secondary-title {
        margin-bottom: 10px; 
    }
    .main-text {
        margin-top: 0; 
    }
}