.primary-btn {
    /* TEXT */
    font-family: 'Roboto', medium;
    font-size: 16px; 
    color: white; 

    /* BUTTON */
    padding: 10px 60px 10px 60px;
    background-color: var(--primary-color);
    border: none;  
    border-radius: var(--border-radius);

    &:hover {
    /* TEXT */
    text-decoration: underline;

    /* BUTTON */
    background-color: var(--primary-color-darker);
}
}

.secondary-btn {
    /* TEXT */
    font-family: 'Roboto', medium;
    font-weight: 700;
    color: var(--primary-color); 

    /* BUTTON */
    background-color: white;
    padding: 10px 30px 10px 30px; 
    border-radius: var(--border-radius);

    &:hover {
        background-color: var(--primary-color);
        color: white; 
        text-decoration: underline;
    }
}

.readmore-btn {
    font-family: 'Roboto', medium;
    font-size: 16px; 
    color: var(--primary-color); 
    text-decoration: none; 
    font-weight: 700;
    padding: 0; 
    margin: 0; 

    &:hover {
        color: var(--primary-color-darker); 
        text-decoration: underline;
    }
}