@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype'),
       url('../../fonts/Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'KdG-Regular';
  src: url('../../fonts/KdG-Regular.otf/KdG-Regular.otf') format('opentype'),
       url('../../fonts/KdG-Regular.otf/KdG-Regular.woff') format('woff');
  font-weight: 100 900; 
  font-style: normal; 
}

