@import url('../00_common/_variables.css'); 
@import url('../01_fundaments/_fonts.css'); 
@import url('../01_fundaments/_typography.css'); 
@import url('../02_atoms/_buttons.css'); 
@import url('../02_atoms/_line.css'); 
@import url('../03_molecules/_menu.css'); 
@import url('../03_molecules/_banner.css'); 
@import url('../03_molecules/_contact.css'); 
@import url('../03_molecules/_table.css'); 

@import url('../05_layouts/_mobile.css'); 
@import url('../05_layouts/_desktop.css'); 

@import url('../snippets/hero.css');
@import url('../snippets/about-preview.css');
@import url('../snippets/profiles-preview.css');
@import url('../snippets/courses-preview.css');
@import url('../snippets/enroll-preview.css');
@import url('../snippets/portfolios-preview.css');
@import url('../snippets/faq.css'); 


html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}
.container {
    width: 80%; 
    margin: 0 auto;
    display: flex; 
    flex-direction: column;
}

.courses .margin{
    margin-top: 60px; 
}
.events .margin {
    margin-top: 72px; 
}